
  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;400&family=Josefin+Sans&family=Montserrat&family=Poppins&family=Roboto+Slab:wght@300&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Matter';
  src: url('/matter.ttf') format('truetype');
}
@font-face {
  font-family: 'Olive';
  src: url('/olive.ttf') format('truetype');
}
@font-face {
  font-family: 'Space Mono';
  src: url('/space.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald';
  src: url('/oswald.ttf') format('truetype');
}
@font-face {
  font-family: 'poppi';
  src: url('/poppins.ttf') format('truetype');
}
@font-face {
  font-family: 'Josefin';
  src: url('/jose.ttf') format('truetype');
}
@font-face {
  font-family: 'Comfort';
  src: url('/comfort.ttf') format('truetype');
}


.jose{font-family: 'Josefin Sans';}
.slab{    font-family: 'Roboto Slab', serif;}
.mont{    font-family: 'Montserrat', monospace;}
.robo{font-family: 'Matter', 'Roboto', 'Courier New', Courier, monospace;}
.mono{font-family: 'Space Mono', monospace}
.poppins{font-family: 'Poppins';}

.page {
  font-family: 'Roboto';
  @apply bg-back h-full;
}


#contentWrapper>p{
  background-color: aqua;
}

.top-h{
  top: 80vh;
}

.z-100{
  z-index: 100;
}

.phase{
  pointer-events: none;
}

.bg-grado{
  background: linear-gradient(to down, red, blue);
}

.centerify{
  transform: translate(-50%, -50%);
}

.ossi{
  font-family: 'Oswald';
}

.lighten{
  backdrop-filter: brightness(140%);
}

.sep{
  backdrop-filter: hue-rotate(30deg);
}

h1{
  font-family: 'Space Mono', 'Courier New', Courier, monospace;
}

.z-60{
  z-index:60
}

.text-xxl{
  font-size: 14rem;
}

.bg-dotted{
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 1px, 
    transparent 1px
  );
}

.big-shadow{
  box-shadow: 0px 0px 20px 20px #1f1f1f;
}